#todos-header {
  display: flex;
  gap: 40px;

  margin-top: 3px;
}

h2 {
  margin-top: 0;
}

#new-task-button {
  background-color: #e2ebfa;
  border: none;
  border-radius: 5px;
  padding: 0px 30px;
  height: 30px;

  cursor: pointer;
}

.todo-item {
  display: flex;
  gap: 10px;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 0px;
}

#goals-title {
  margin-top: 20px;
}
