#todos-header {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 3px;
}

h2 {
  margin: 0;
}

#todo-time {
  color: #797676;
}

#new-task-button {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0px 30px;
  height: 50px;

  cursor: pointer;
}

.todo-item {
  display: flex;
  gap: 10px;
  height: 30px;
  box-sizing: border-box;
  padding: 5px 0px;
  cursor: pointer;
}

#todo-title,
#goals-title {
  margin-top: 20px;
}

.ticked > .todo-item-title {
  text-decoration: line-through;
}

[contenteditable] {
  outline: 0px solid transparent;
  cursor: text;
}

#new-todo-item {
  border-bottom: 1px solid gray;
}
