<div id="todos-header">
  <div id="todos-title">
    <h2>Tasks</h2>
    <div *ngIf="startEndTime" id="todo-time">→ {{ startEndTime }}</div>
  </div>
  <button id="new-task-button" (click)="initiateNewTask()">+ New Task</button>
</div>
<div id="todo-title">Todos:</div>
<div id="todos-container">
  <div *ngFor="let todo of TODO_LIST; index as index" [class]="getClassName(todo)" (click)="tickTodoItem(index)">
    <div class="todo-icon">•</div>
    <div class="todo-item-title">{{ todo.title }}</div>
  </div>
  <div id="new-todo-item" class="todo-item" *ngIf="creatingNewTask">
    <div class="todo-icon">•</div>
    <div class="todo-item-title" contenteditable="true" (keydown.enter)="createNewTask($event)"></div>
  </div>
</div>
<div id="goals-title">Goals:</div>
<div *ngFor="let goal of GOALS_LIST; index as index" [class]="getClassName(goal)" (click)="tickGoalItem(index)">
  <div class="todo-icon">•</div>
  <div class="todo-item-title">{{ goal.title }}</div>
</div>
