<div id="categories-wrapper">
  <h4 class="menu-item" (click)="handleCategoriesVisibility()">
    <img id="menu-item-arrow" src="/assets/menu-item-arrow.svg" alt="" />CATEGORIES
  </h4>
  <div *ngIf="isVisible" class="categories-content">
    <div *ngFor="let categoryItem of CATEGORY_ITEMS" class="category-item">
      <div [class]="'category-item-color' + ' ' + categoryItem.color"></div>
      <div class="category-item-name" contenteditable="true">{{ categoryItem.name }}</div>
    </div>
    <div *ngIf="creatingNewCategoryItem" class="new-category-item">
      <div class="category-item-color white"></div>
      <input type="text" name="" id="" (keydown.enter)="onKeyDownEvent($event)" />
    </div>

    <div class="create-new-category-item" (click)="createNewCategoryItem($event)">+ Add new</div>
  </div>
</div>
