<div class="day">
  <div
    *ngFor="let box of boxes; index as index"
    [ngStyle]="{ height: box.height + 'px' }"
    class="box"
    [id]="'box-' + (index + 1)"
    (mousemove)="handleMouseMove($event)"
    (mouseleave)="handleMouseLeave($event)"
  >
    <span class="box-text">{{ box.title }}</span>
    <div class="box-duration">
      {{ getBoxDuration(box.height) }}
    </div>
    <div
      class="lower-drag-handle drag-handle"
      (mousedown)="handleMouseDown($event)"
    ></div>
  </div>
</div>
<div id="box-context-menu">
  <span (click)="changeCategory('red')">r</span>
  <span (click)="changeCategory('green')">g</span>
  <span (click)="changeCategory('blue')">b</span>
</div>
<!-- 
<div id="boxesHelper">{{ boxesToString() }}</div>
<div id="mousePositionHelper">{{ mousePosition }}</div>
<div id="currentBoxHelper">{{ "current box:" + currentBoxIndex }}</div>
<button class="addBoxHelper" (click)="createNewBox()">create box</button>
 -->
