<div class="day-wrapper">
  <div class="day-duration">
    <div *ngFor="let tick of USER_DAY_TICKS" class="day-tick">{{ tick + ':00' }}</div>
  </div>

  <div class="day">
    <div
      *ngFor="let box of boxes; index as index"
      [ngStyle]="{ height: box.height * HEIGHT_INCREMENT + 'px' }"
      [class]="getBoxClassName(index)"
      [id]="'box-' + (index + 1)"
      (mousemove)="handleMouseMove($event)"
      (mousedown)="dragBox($event)"
    >
      <div class="box-text">{{ box.title }}</div>
      <div class="box-duration">
        {{ getBoxDuration(box.height) }}
      </div>
      <div class="lower-drag-handle drag-handle" (mousedown)="startBoxResize($event)"></div>
    </div>
  </div>
  <div id="box-context-menu">
    <div class="first-category" (click)="changeCategory('red')"></div>
    <div class="second-category" (click)="changeCategory('green')"></div>
    <div class="third-category" (click)="changeCategory('blue')"></div>
    <div class="remove-box" (click)="removeBox()"></div>
  </div>
</div>
<img id="insertion-indicator" src="/assets/insertion-indicator.svg" alt="" />
<!-- 
  <div id="mousePositionHelper">{{ mousePosition }}</div>
  <div id="boxesHelper">{{ boxesToString() }}</div>
  <div id="currentBoxHelper">{{ "current box:" + currentBoxIndex }}</div>
  <button class="addBoxHelper" (click)="createNewBox()">create box</button>
 -->
