@use '../styles/colors';

.day-wrapper {
  display: flex;

  overflow-y: scroll;
  height: 900px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none;
  }
  padding: 10px 0px;
}

.day-duration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  top: -7px;
  margin-right: 50px;

  height: 1293px;
  font-size: 10px;

  color: #8f8f8f;
}

.day-tick::after {
  content: '-------------------------------------------------------';
  position: absolute;
  width: 700px;
}

.box {
  width: 200px;
  font-size: 12px;

  position: relative;
  margin-bottom: 0;

  padding: 5px;

  box-sizing: border-box;
  border: 2px solid #e2ded9;
  border-left: 5px solid #c6c2bb;
  border-radius: 5px;

  color: white;

  transition: 0.2s ease-out height, 0.2s ease-out padding, 0.2s ease-out opacity;

  cursor: pointer;
  user-select: none;
}

.box-text {
  position: absolute;
  top: 1px;
}

#box-ghost {
  border: none;
  border-left: 5px solid #c6c2bb;
  transition: 0.2s ease-out width, 0.2s ease-out opacity, 0.2s ease-out box-shadow;
  opacity: 0.5;
}

.drag-handle {
  width: 100%;
  height: 7px;

  cursor: ns-resize;
}

.lower-drag-handle,
.box-duration {
  position: absolute;
  bottom: 0;
}

.box-duration {
  right: 4px;
}

.group-a {
  background-color: #3f3b6c;
}
.group-b {
  background-color: #624f82;
}
.group-c {
  background-color: #9f73ab;
}
.group-d {
  background-color: #a3c7d6;
}
.group-e {
  background-color: #ff731d;
}
.group-red {
  background-color: red;
}
.group-green {
  background-color: green;
}
.group-blue {
  background-color: blue;
}
.group-blue {
  background-color: blue;
}
.group-gray {
  background-color: rgb(150, 147, 147);
}
.group-purple {
  background-color: purple;
}
.group-yellow {
  background-color: rgb(160, 160, 0);
}

#box-context-menu,
#insertion-indicator {
  display: none;
  position: absolute;
}

#box-context-menu {
  height: 21px;

  div {
    height: 10px;
    width: 10px;
    border-radius: 2px;
  }
}

.first-category {
  background-color: red;
}
.second-category {
  background-color: green;
}
.third-category {
  background-color: rgb(109, 109, 255);
}

.remove-box {
  &::after {
    content: '-';
    position: relative;
    top: -6px;

    color: red;
  }
  cursor: pointer;
}

.transparent {
  opacity: 0.2;
}
