.day-wrapper {
  display: flex;
}

.day-duration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 740px;
}

.box {
  width: 200px;
  margin-bottom: 5px;
  position: relative;

  box-sizing: border-box;
  padding: 5px;

  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border-left: 5px solid #c6c2bb;
  color: white;

  transition: 0.04s ease-out height;
  cursor: grab;

  user-select: none;
}

.box-text {
  position: absolute;
  top: 3px;
}

.box-drag {
  opacity: 0.5;
}

.drag-handle {
  width: 100%;
  height: 10px;

  cursor: ns-resize;
}

.lower-drag-handle,
.box-duration {
  position: absolute;
  bottom: 0;
}

.box-duration {
  right: 4px;
  bottom: 2px;
}

.group-a {
  background-color: #3f3b6c;
}
.group-b {
  background-color: #624f82;
}
.group-c {
  background-color: #9f73ab;
}
.group-d {
  background-color: #a3c7d6;
}
.group-e {
  background-color: #ff731d;
}
.group-red {
  background-color: red;
}
.group-green {
  background-color: green;
}
.group-blue {
  background-color: blue;
}

#box-context-menu {
  display: none;
  position: absolute;
}
