.day-wrapper {
  display: flex;
}

.day-duration {
  color: #8f8f8f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 814px;
  font-size: 10px;
  position: relative;
  top: -7px;
  margin-right: 50px;
}

.day-tick::after {
  content: '-------------------------------------------------------';
  width: 700px;
  position: absolute;
}

.box {
  width: 200px;
  margin-bottom: 0px;
  position: relative;

  font-size: 12px;

  box-sizing: border-box;
  padding: 5px;

  border: 2px solid #e2ded9;

  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  border-left: 5px solid #c6c2bb;
  color: white;

  transition: 0.2s ease-out height, 0.2s ease-out padding;

  cursor: grab;

  user-select: none;
}

.box-text {
  position: absolute;
  top: 3px;
}

#box-ghost {
  opacity: 0.8;
  border: none;
  border-left: 5px solid #c6c2bb;
}

.drag-handle {
  width: 100%;
  height: 7px;

  cursor: ns-resize;
}

.lower-drag-handle,
.box-duration {
  position: absolute;
  bottom: 0;
}

.box-duration {
  right: 4px;
  bottom: 2px;
}

.group-a {
  background-color: #3f3b6c;
}
.group-b {
  background-color: #624f82;
}
.group-c {
  background-color: #9f73ab;
}
.group-d {
  background-color: #a3c7d6;
}
.group-e {
  background-color: #ff731d;
}
.group-red {
  background-color: red;
}
.group-green {
  background-color: green;
}
.group-blue {
  background-color: blue;
}
.group-blue {
  background-color: blue;
}
.group-gray {
  background-color: rgb(150, 147, 147);
}
.group-purple {
  background-color: purple;
}
.group-yellow {
  background-color: rgb(160, 160, 0);
}

#box-context-menu,
#insertion-indicator {
  display: none;
  position: absolute;
}
