<div class="day-wrapper">
  <div class="day-duration">
    <div class="day-tick day-start">07:00</div>
    <div class="day-tick">08:00</div>
    <div class="day-tick">09:00</div>
    <div class="day-tick">10:00</div>
    <div class="day-tick">11:00</div>
    <div class="day-tick">12:00</div>
    <div class="day-tick">13:00</div>
    <div class="day-tick">14:00</div>
    <div class="day-tick">15:00</div>
    <div class="day-tick">16:00</div>
    <div class="day-tick">17:00</div>
    <div class="day-tick">18:00</div>
    <div class="day-tick">19:00</div>
    <div class="day-tick">20:00</div>
    <div class="day-tick">21:00</div>
    <div class="day-tick">22:00</div>
    <div class="day-tick day-end">23:00</div>
  </div>

  <div class="day">
    <div
      *ngFor="let box of boxes; index as index"
      [ngStyle]="{ height: box.height + 'px' }"
      [class]="'box' + ' ' + 'group-' + box.group"
      [id]="'box-' + (index + 1)"
      (mousemove)="handleMouseMove($event)"
      (mousedown)="dragBox($event)"
    >
      <div class="box-text">{{ box.title }}</div>
      <div class="box-duration">
        {{ getBoxDuration(box.height) }}
      </div>
      <div class="lower-drag-handle drag-handle" (mousedown)="handleMouseDown($event)"></div>
    </div>
  </div>
  <div id="box-context-menu">
    <span (click)="changeCategory('red')">r</span>
    <span (click)="changeCategory('green')">g</span>
    <span (click)="changeCategory('blue')">b</span>
  </div>
</div>
<!-- 
  <div id="mousePositionHelper">{{ mousePosition }}</div>
  <div id="boxesHelper">{{ boxesToString() }}</div>
  <div id="currentBoxHelper">{{ "current box:" + currentBoxIndex }}</div>
  <button class="addBoxHelper" (click)="createNewBox()">create box</button>
 -->
