@use '../styles/colors';

#side-menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#categories-wrapper,
#activities-wrapper {
  box-sizing: border-box;
}

.category-item,
.activity-item {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.activity-item {
  cursor: grab;
  user-select: none;
}

.category-item-color,
.activity-item-color {
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

h4 {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(121, 118, 118);
}

.new-category-item,
.new-activity-item {
  display: flex;
  gap: 5px;
  align-items: center;

  input {
    width: 80px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #e2ded9;
  }
}

.menu-item {
  user-select: none;
}

#categories-menu-item-arrow,
#activities-menu-item-arrow {
  width: 6px;
  margin-right: 5px;

  transition: 0.2s ease-out transform;
}

.create-new-category-item,
.create-new-activity-item {
  cursor: pointer;
}

[contenteditable] {
  outline: 0px solid transparent;
  cursor: text;
}
