#side-menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#categories-wrapper,
#activities-wrapper {
  box-sizing: border-box;
}

.category-item,
.activity-item {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.category-item-color,
.activity-item-color {
  width: 15px;
  height: 15px;
  border-radius: 4px;

  &.red {
    background-color: red;
  }
  &.green {
    background-color: green;
  }
  &.blue {
    background-color: blue;
  }
  &.white {
    background-color: white;
  }
  &.crimson {
    background-color: crimson;
  }
  &.yellow {
    background-color: yellow;
  }
  &.gray {
    background-color: gray;
  }
  &.lightblue {
    background-color: lightblue;
  }
  &.burlywood {
    background-color: burlywood;
  }
  &.blueviolet {
    background-color: blueviolet;
  }
}

h4 {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(121, 118, 118);
}

.new-category-item,
.new-activity-item {
  display: flex;
  gap: 5px;
  align-items: center;

  input {
    width: 80px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #e2ded9;
  }
}

.menu-item {
  user-select: none;
}

#categories-menu-item-arrow,
#activities-menu-item-arrow {
  width: 6px;
  margin-right: 5px;

  transition: 0.2s ease-out transform;
}

.create-new-category-item,
.create-new-activity-item {
  cursor: pointer;
}

[contenteditable] {
  outline: 0px solid transparent;
  cursor: text;
}
