<div id="activities-wrapper">
  <h4 class="menu-item" (click)="handleActivitiesVisibility()">
    <img id="activities-menu-item-arrow" src="/assets/menu-item-arrow.svg" alt="" />ACTIVITIES
  </h4>
  <div *ngIf="isVisible" class="activities-content">
    <div *ngFor="let activityItem of ACTIVITY_ITEMS" class="activity-item">
      <div [class]="'activity-item-color' + ' ' + activityItem.color"></div>
      <div class="activity-item-name" contenteditable="true">{{ activityItem.name }}</div>
    </div>
    <div *ngIf="creatingNewActivityItem" class="new-activity-item">
      <div class="activity-item-color white"></div>
      <input type="text" name="" id="" (keydown.enter)="onKeyDownEvent($event)" />
    </div>

    <div class="create-new-activity-item" (click)="createNewActivityItem($event)">+ Add new</div>
  </div>
</div>
