.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.white {
  background-color: white;
}
.crimson {
  background-color: crimson;
}
.yellow {
  background-color: yellow;
}
.gray {
  background-color: gray;
}
.lightblue {
  background-color: lightblue;
}
.burlywood {
  background-color: burlywood;
}
.blueviolet {
  background-color: blueviolet;
}

.black {
  background-color: black;
}
